svg {
    background: #fff;
    padding: 40px;
    /* display: block; */
    margin: 0 auto;
}

svg.clockDiagram g text {
    font-family: sans-serif;
    font-size: 22px;
}

svg.clockDiagram #noteRings circle {
    fill: rgba(0,0,0,0);
    stroke-width: 6;
    stroke: #24313c;
    transition: all .1s;
}

svg.clockDiagram #noteRings circle:hover {
    stroke: #1ab188;
    stroke-width: 5;
}

input {
    margin: auto;
    text-align: center;
    outline: none;
    background: #1d2831;
    font-size: 22px;
    font-family: ubuntu mono, consolas, courier new, monospace;
    color: #fff;
    padding: 10px;
    border: 2px solid #1ab188;
    transition: all .2s;
    min-width: 300px;
}

input:focus {
    border: 2px solid #1bc497;
    background: #182229;
    box-shadow: 0 4px 10px 4px #222;
}

input:hover {
    border: 2px solid #1bc497;
    background: #182229;
    box-shadow: 0 4px 10px 4px #222;
}

body {
    text-align: center;
}

div#display {
    margin: auto;
}

footer {
    margin: auto;
    border-radius: 10px;
    text-align: center;
    width: 600px;
    background: #24313c;
    padding: 20px;
}

button {
    width: 55px;
    height: 55px;
}
