svg {
    background: #fff;
    padding: 40px;
    /* display: block; */
    margin: 0 auto;
}

svg.clockDiagram g text {
    font-family: sans-serif;
    font-size: 22px;
}

svg.clockDiagram #noteRings circle {
    fill: rgba(0,0,0,0);
    stroke-width: 6;
    stroke: #24313c;
    transition: all .1s;
}

svg.clockDiagram #noteRings circle:hover {
    stroke: #1ab188;
    stroke-width: 5;
}

input {
    min-height: 30px;
    margin-bottom: 20px;
    text-align: center;
    outline: none;
    background: #1d2831;
    font-size: 22px;
    font-family: monospace;
    color: #fff;
    padding: 10px;
    border: none;
    transition: all .2s;
}

input#setInput {
    min-width: 300px;
}

input#speed {
    width: 70px;
}

input#toIndex {
    width: 70px;
}

input#jumpInterval {
    width: 220px;
}

input:focus {
    background: #182229;
}

input:hover {
    background: #182229;
}

body {
    text-align: center;
}

div#display {
    margin: auto;
}

div.inputs {
    margin: auto;
    text-align: center;
    width: 600px;
    background: #24313c;
    padding: 20px;
}

button {
    outline: none;
    min-height: 50px;
    border: none;
    background: #1bc497;
    margin-right: 5px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 18px;
    color: #fff;
    transition: all .1s;
}

button:hover {
    background: #48c9a6;
}

button:active {
    background: #94c5b8;
}

button#sort,
button#mirror,
button#transposeUp,
button#transposeDown,
button#indexUp,
button#indexDown,
button#toRoot {
    min-width: 240px;
}

button#setRootTo {
    min-width: 145px;
}

button#play {
    min-width: 70px;
}

button#jumpBy {
    min-width: 240px;
}